.button {
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 5%;
	padding-right: 5%;
}

h3 {
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif !important;
  font-size: 28px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 32.4px;
  letter-spacing: normal;
  text-align: canter;
}